<th:block th:if="${newWrite} == 'Y'" >
    <form id="AEMMntrngVOForm" name="AEMMntrngVOForm">
        <input type="hidden" id="studyId" name="studyId" th:value="${aemMntrngVO.studyId}" />
        <input type="hidden" id="prtcpntId" name="prtcpntId" th:value="${aemMntrngVO.prtcpntId}" />
        <input type="hidden" id="mntrngDcsnAt" name="mntrngDcsnAt" value="N" />
        <input type="hidden" id="medDraCode" name="medDraCode" value="" />
        <input type="hidden" id="useYn" name="useYn" value="X" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <table class="tableClass">
            <colgroup>
                <col style="width:25%;">
                <col style="width:40%;">
                <col style="width:5%;">
                <col style="width:30%;">
            </colgroup>
            <tbody>
            <tr>
                <td align="right" colspan="4">
                    <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeChartInsert()">저장</button>
                    <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeChartClose()">닫기</button>
                </th>
            </tr>
            <tr>
                <td class="tdTextLift" colspan="4" style="background-color:#6E6E6E;">
                    <div style="color:#ffffff;font-weight:600">AE모니터링결과 입력</div>
                </th>
            </tr>
            <tr>
                <th class="tdTextRight"><div>AE번호 :</div></th>
                <td class="tdTextLeft" colspan="3">

                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>AE명 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <input type="text" id="aeTermCtcae" name="aeTermCtcae" style="width:70%;" readonly="readonly"
                           class="form-control form-control-sm dis_inline"
                           th:value="${aemMntrngVO.aeTermCtcae}">
                    <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="pcnctcaeView();">검색</button>
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>AE중증도 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <div id="radio_visitTypeCode">
                        <div>
                            <input type="radio" id="aeGrade1" name="aeGrade" value="10">
                            Grade 1

                            <input type="radio" id="aeGrade2" name="aeGrade" value="20">
                            Grade 2

                            <input type="radio" id="aeGrade3" name="aeGrade" value="30">
                            <span style="font-color:red">Grade 3</span>

                            <input type="radio" id="aeGrade4" name="aeGrade" value="40">
                            <span style="font-color:red">Grade 4</span>

                            <input type="radio" id="aeGrade5" name="aeGrade" value="50">
                            <span style="font-color:red">Grade 5</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>메모사항 :</div></th>
                <td class="tdTextLeft" colspan="3">
                <textarea id="mntrngMemo" name="mntrngMemo" class="form-control form-control-sm"
                          style="width:100%;height:80px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>AE 시작일자 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <div>
                        <div>
                            <input type="text" id="aeStrtDe" name="aeStrtDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;">
                            <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>AE 종료일자 :</div></th>
                <td class="tdTextLeft" colspan="2">
                    <div>
                        <div>
                            <input type="text" id="aeEndDe" name="aeEndDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;">
                            <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
                        </div>
                    </div>
                </td>
                <td class="tdTextLeft">
                    <div>
                        <input type="checkbox" id="actionDcsnAt" name="actionDcsnAt" index="0" value="Y">
                        ongoing 여부
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdTextLift" colspan="4" style="background-color:#6E6E6E;">
                    <div style="color:#ffffff;font-weight:600">AE조치</div>
                </th>
            </tr>
            <tr>
                <th class="tdTextRight"><div>Serious여부 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <input type="radio" id="saeAt1" name="saeAt" value="Y" onclick="saeAtChange();"> Yes
                    <input type="radio" id="saeAt2" name="saeAt" value="N" onclick="saeAtChange();"> No
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>Serious내용 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <input type="checkbox" id="saeDeath" name="saeDeath" value="Y"> 사망
                    <input type="checkbox" id="saeLifeThrt" name="saeLifeThrt" value="Y"> 치명적이거나 생명을 위협
                    <input type="checkbox" id="saeHsptlzNeed" name="saeHsptlzNeed" value="Y"> 입원을 요하거나 입원 연장
                    <input type="checkbox" id="saeCsmalfnc" name="saeCsmalfnc" value="Y"> 비가역장애/지속적인 불구 발생
                    <input type="checkbox" id="saeCsdeform" name="saeCsdeform" value="Y"> 선천적 기형 또는 이상 초래
                    <input type="checkbox" id="saeEtcSittn" name="saeEtcSittn" value="Y"> 기타 의학적으로 중요한 상황
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>인과관계 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <!-- causalityCode -->
                    <input type="radio" id="causalityCode1" name="causalityCode" value="A10">
                    Not related

                    <input type="radio" id="causalityCode2" name="causalityCode" value="B10">
                    확실함(Certain)

                    <input type="radio" id="causalityCode3" name="causalityCode" value="A20">
                    Related

                    <input type="radio" id="causalityCode4" name="causalityCode" value="B20">
                    상당히 확실함(Probable)

                    <input type="radio" id="causalityCode5" name="causalityCode" value="B30">
                    가능함(Possible)

                    <input type="radio" id="causalityCode6" name="causalityCode" value="B40">
                    가능성 적음(Unlikely)

                    <input type="radio" id="causalityCode7" name="causalityCode" value="B50">
                    가능성 없음(Unrelated)

                    <input type="radio" id="causalityCode8" name="causalityCode" value="B60">
                    평가곤란

                    <input type="radio" id="causalityCode9" name="causalityCode" value="B70">
                    평가불가
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>예측여부 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <input type="radio" id="predictAt1" name="predictAt" value="Y"> Yes
                    <input type="radio" id="predictAt2" name="predictAt" value="N"> No
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>관련조치 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <!-- aeActionCode -->
                    <input type="radio" id="aeActionCode1" name="aeActionCode" value="10">
                    용량변경 없음

                    <input type="radio" id="aeActionCode2" name="aeActionCode" value="20">
                    용량 감소

                    <input type="radio" id="aeActionCode3" name="aeActionCode" value="30">
                    용량 증가

                    <input type="radio" id="aeActionCode4" name="aeActionCode" value="40">
                    일시 중단

                    <input type="radio" id="aeActionCode5" name="aeActionCode" value="50">
                    영구 중단

                    <input type="radio" id="aeActionCode6" name="aeActionCode" value="60">
                    해당없음

                    <input type="radio" id="aeActionCode7" name="aeActionCode" value="70">
                    모름
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>기타초치 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <!-- etcActionCode -->
                    <input type="radio" id="etcActionCode1" name="etcActionCode" value="10">
                    없음

                    <input type="radio" id="etcActionCode2" name="etcActionCode" value="20">
                    약물요법

                    <input type="radio" id="etcActionCode3" name="etcActionCode" value="30">
                    시술/처치

                    <input type="radio" id="etcActionCode4" name="etcActionCode" value="40">
                    약물요법,시술/처치
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>결과 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <!-- aeRsltCode -->
                    <input type="radio" id="aeRsltCode1" name="aeRsltCode" value="100">
                    회복됨

                    <input type="radio" id="aeRsltCode2" name="aeRsltCode" value="200">
                    회복됨(휴유증동반)

                    <input type="radio" id="aeRsltCode3" name="aeRsltCode" value="300">
                    회복중

                    <input type="radio" id="aeRsltCode4" name="aeRsltCode" value="400">
                    회복안됨

                    <input type="radio" id="aeRsltCode5" name="aeRsltCode" value="500">
                    모름
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>임상약종료 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <input type="text" id="medcinStopDe" name="medcinStopDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;">
                    <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>조치일자 :</div></th>
                <td class="tdTextLeft" colspan="3">
                    <input type="text" id="actionDe" name="actionDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;">
                    <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
                </td>
            </tr>
            <tr>
                <th class="tdTextRight"><div>조치메모 :</div></th>
                <td class="tdTextLeft" colspan="3">
                <textarea id="actionMemo" name="actionMemo" class="form-control form-control-sm"
                          style="width:100%;height:80px;"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</th:block>

<th:block th:if="${newWrite} == 'N'" >
    <form id="AEMMntrngVOForm" name="AEMMntrngVOForm">
        <input type="hidden" id="studyId" name="studyId" th:value="${aemMntrngVO.studyId}" />
        <input type="hidden" id="prtcpntId" name="prtcpntId" th:value="${aemMntrngVO.prtcpntId}" />
        <input type="hidden" id="sumrySeq" name="sumrySeq" th:value="${aemMntrngVO.sumrySeq}" />
        <input type="hidden" id="mntrngDcsnAt" name="mntrngDcsnAt" th:value="${aemMntrngVO.mntrngDcsnAt}" />
        <input type="hidden" id="useYn" name="useYn" th:value="${aemMntrngVO.useYn}" />
        <input type="hidden" id="medDraCode" name="medDraCode" th:value="${aemMntrngVO.medDraCode}" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <table class="tableClass">
        <colgroup>
            <col style="width:25%;">
            <col style="width:40%;">
            <col style="width:5%;">
            <col style="width:30%;">
        </colgroup>
        <tbody>
        <tr>
            <td align="right" colspan="4">
                <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeFavorites()" style="width:38px;">★</button>
                <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeChartUpdate(0)">저장</button>
                <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeChartDelete()">삭제</button>
                <th:block th:if="${aemMntrngVO.mntrngDcsnAt} != 'Y'" >
                <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeChartAction()">확정</button>
                </th:block>
                <button type="button" id="ic_sEndDeV_img" class="btn_right dis_inline" onclick="aeChartClose()">닫기</button>
            </th>
        </tr>
        <tr>
            <td class="tdTextLift" colspan="4" style="background-color:#6E6E6E;">
                <div style="color:#ffffff;font-weight:600">AE모니터링결과 입력 ( 담당자 : [[${aemMntrngVO.mntrngDcsnUser}]])</div>
            </th>
        </tr>
        <tr>
            <th class="tdTextRight"><div>AE번호 :</div></th>
            <td class="tdTextLeft" colspan="3">
                [[${aemMntrngVO.aeNo}]]
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>AE명 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <input type="text" id="aeTermCtcae" name="aeTermCtcae" style="width:70%;" readonly="readonly"
                       class="form-control form-control-sm dis_inline"
                       th:value="${aemMntrngVO.aeTermCtcae}">
                <button type="button" id="ic_sEndDeV_img" class="btn_right btn-secondary dis_inline" onclick="pcnctcaeView();" disabled>검색</button>
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>AE중증도 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <div id="radio_visitTypeCode">
                    <div>
                        <input type="radio" id="aeGrade1" name="aeGrade" value="10"
                               th:checked="${aemMntrngVO.aeGrade == '10'}">
                        Grade 1

                        <input type="radio" id="aeGrade2" name="aeGrade" value="20"
                               th:checked="${aemMntrngVO.aeGrade == '20'}">
                        Grade 2

                        <input type="radio" id="aeGrade3" name="aeGrade" value="30"
                               th:checked="${aemMntrngVO.aeGrade == '30'}">
                        <span style="font-color:red">Grade 3</span>

                        <input type="radio" id="aeGrade4" name="aeGrade" value="40"
                               th:checked="${aemMntrngVO.aeGrade == '40'}">
                        <span style="font-color:red">Grade 4</span>

                        <input type="radio" id="aeGrade5" name="aeGrade" value="50"
                               th:checked="${aemMntrngVO.aeGrade == '50'}">
                        <span style="font-color:red">Grade 5</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>메모사항 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <textarea id="mntrngMemo" name="mntrngMemo" class="form-control form-control-sm"
                          style="width:100%;height:80px;">[[${aemMntrngVO.mntrngMemo}]]</textarea>
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>AE 시작일자 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <div>
                    <div>
                        <input type="text" id="aeStrtDe" name="aeStrtDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;"
                               th:value="${aemMntrngVO.aeStrtDe}">
                        <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>AE 종료일자 :</div></th>
            <td class="tdTextLeft" colspan="2">
                <div>
                    <div>
                        <input type="text" id="aeEndDe" name="aeEndDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;"
                               th:value="${aemMntrngVO.aeEndDe}">
                        <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
                    </div>
                </div>
            </td>
            <td class="tdTextLeft">
                <div>
                    <input type="checkbox" id="actionDcsnAt" name="actionDcsnAt" index="0" value="Y"
                           th:checked="${aemMntrngVO.actionDcsnAt == 'Y'}">
                    ongoing 여부
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdTextLift" colspan="4" style="background-color:#6E6E6E;">
                <div style="color:#ffffff;font-weight:600">AE조치 ( 확인자 : [[${aemMntrngVO.actionDcsnUser}]])</div>
            </th>
        </tr>
        <tr>
            <th class="tdTextRight"><div>Serious여부 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <input type="radio" id="saeAt1" name="saeAt" value="Y"
                       th:checked="${aemMntrngVO.saeAt == 'Y'}" onclick="saeAtChange();"> Yes
                <input type="radio" id="saeAt2" name="saeAt" value="N"
                       th:checked="${aemMntrngVO.saeAt == 'N'}" onclick="saeAtChange();"> No
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>Serious내용 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <input type="checkbox" id="saeDeath" name="saeDeath" value="Y"
                       th:checked="${aemMntrngVO.saeDeath == 'Y'}"
                       th:disabled="${aemMntrngVO.saeAt == 'N'}"> 사망
                <input type="checkbox" id="saeLifeThrt" name="saeLifeThrt" value="Y"
                       th:checked="${aemMntrngVO.saeLifeThrt == 'Y'}"
                       th:disabled="${aemMntrngVO.saeAt == 'N'}"> 치명적이거나 생명을 위협
                <input type="checkbox" id="saeHsptlzNeed" name="saeHsptlzNeed" value="Y"
                       th:checked="${aemMntrngVO.saeHsptlzNeed == 'Y'}"
                       th:disabled="${aemMntrngVO.saeAt == 'N'}"> 입원을 요하거나 입원 연장
                <input type="checkbox" id="saeCsmalfnc" name="saeCsmalfnc" value="Y"
                       th:checked="${aemMntrngVO.saeCsmalfnc == 'Y'}"
                       th:disabled="${aemMntrngVO.saeAt == 'N'}"> 비가역장애/지속적인 불구 발생
                <input type="checkbox" id="saeCsdeform" name="saeCsdeform" value="Y"
                       th:checked="${aemMntrngVO.saeCsdeform == 'Y'}"
                       th:disabled="${aemMntrngVO.saeAt == 'N'}"> 선천적 기형 또는 이상 초래
                <input type="checkbox" id="saeEtcSittn" name="saeEtcSittn" value="Y"
                       th:checked="${aemMntrngVO.saeEtcSittn == 'Y'}"
                       th:disabled="${aemMntrngVO.saeAt == 'N'}"> 기타 의학적으로 중요한 상황
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>인과관계 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <!-- causalityCode -->
                <input type="radio" id="causalityCode1" name="causalityCode" value="A10"
                       th:checked="${aemMntrngVO.causalityCode == 'A10'}">
                Not related

                <input type="radio" id="causalityCode2" name="causalityCode" value="B10"
                       th:checked="${aemMntrngVO.causalityCode == 'B10'}">
                확실함(Certain)

                <input type="radio" id="causalityCode3" name="causalityCode" value="A20"
                       th:checked="${aemMntrngVO.causalityCode == 'A20'}">
                Related

                <input type="radio" id="causalityCode4" name="causalityCode" value="B20"
                       th:checked="${aemMntrngVO.causalityCode == 'B20'}">
                상당히 확실함(Probable)

                <input type="radio" id="causalityCode5" name="causalityCode" value="B30"
                       th:checked="${aemMntrngVO.causalityCode == 'B30'}">
                가능함(Possible)

                <input type="radio" id="causalityCode6" name="causalityCode" value="B40"
                       th:checked="${aemMntrngVO.causalityCode == 'B40'}">
                가능성 적음(Unlikely)

                <input type="radio" id="causalityCode7" name="causalityCode" value="B50"
                       th:checked="${aemMntrngVO.causalityCode == 'B50'}">
                가능성 없음(Unrelated)

                <input type="radio" id="causalityCode8" name="causalityCode" value="B60"
                       th:checked="${aemMntrngVO.causalityCode == 'B60'}">
                평가곤란

                <input type="radio" id="causalityCode9" name="causalityCode" value="B70"
                       th:checked="${aemMntrngVO.causalityCode == 'B70'}">
                평가불가
           </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>예측여부 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <input type="radio" id="predictAt1" name="predictAt" value="Y"
                       th:checked="${aemMntrngVO.predictAt == 'Y'}"> Yes
                <input type="radio" id="predictAt2" name="predictAt" value="N"
                       th:checked="${aemMntrngVO.predictAt == 'N'}"> No
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>관련조치 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <!-- aeActionCode -->
                <input type="radio" id="aeActionCode1" name="aeActionCode" value="10"
                       th:checked="${aemMntrngVO.aeActionCode == '10'}">
                용량변경 없음

                <input type="radio" id="aeActionCode2" name="aeActionCode" value="20"
                       th:checked="${aemMntrngVO.aeActionCode == '20'}">
                용량 감소

                <input type="radio" id="aeActionCode3" name="aeActionCode" value="30"
                       th:checked="${aemMntrngVO.aeActionCode == '30'}">
                용량 증가

                <input type="radio" id="aeActionCode4" name="aeActionCode" value="40"
                       th:checked="${aemMntrngVO.aeActionCode == '40'}">
                일시 중단

                <input type="radio" id="aeActionCode5" name="aeActionCode" value="50"
                       th:checked="${aemMntrngVO.aeActionCode == '50'}">
                영구 중단

                <input type="radio" id="aeActionCode6" name="aeActionCode" value="60"
                       th:checked="${aemMntrngVO.aeActionCode == '60'}">
                해당없음

                <input type="radio" id="aeActionCode7" name="aeActionCode" value="70"
                       th:checked="${aemMntrngVO.aeActionCode == '70'}">
                모름
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>기타초치 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <!-- etcActionCode -->
                <input type="radio" id="etcActionCode1" name="etcActionCode" value="10"
                       th:checked="${aemMntrngVO.etcActionCode == '10'}">
                없음

                <input type="radio" id="etcActionCode2" name="etcActionCode" value="20"
                       th:checked="${aemMntrngVO.etcActionCode == '20'}">
                약물요법

                <input type="radio" id="etcActionCode3" name="etcActionCode" value="30"
                       th:checked="${aemMntrngVO.etcActionCode == '30'}">
                시술/처치

                <input type="radio" id="etcActionCode4" name="etcActionCode" value="40"
                       th:checked="${aemMntrngVO.etcActionCode == '40'}">
                약물요법,시술/처치
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>결과 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <!-- aeRsltCode -->
                <input type="radio" id="aeRsltCode1" name="aeRsltCode" value="100"
                       th:checked="${aemMntrngVO.aeRsltCode == '100'}">
                회복됨

                <input type="radio" id="aeRsltCode2" name="aeRsltCode" value="200"
                       th:checked="${aemMntrngVO.aeRsltCode == '200'}">
                회복됨(휴유증동반)

                <input type="radio" id="aeRsltCode3" name="aeRsltCode" value="300"
                       th:checked="${aemMntrngVO.aeRsltCode == '300'}">
                회복중

                <input type="radio" id="aeRsltCode4" name="aeRsltCode" value="400"
                       th:checked="${aemMntrngVO.aeRsltCode == '400'}">
                회복안됨

                <input type="radio" id="aeRsltCode5" name="aeRsltCode" value="500"
                       th:checked="${aemMntrngVO.aeRsltCode == '500'}">
                모름
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>임상약종료 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <input type="text" id="medcinStopDe" name="medcinStopDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;"
                       th:value="${aemMntrngVO.medcinStopDe}">
                <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>조치일자 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <input type="text" id="actionDe" name="actionDe" readonly class="form-control form-control-sm dis_inline" style="width:130px;"
                       th:value="${aemMntrngVO.actionDe}">
                <img src="/img/cal.png" style="width:18px;height:18px;margin-left:-26px">
            </td>
        </tr>
        <tr>
            <th class="tdTextRight"><div>조치메모 :</div></th>
            <td class="tdTextLeft" colspan="3">
                <textarea id="actionMemo" name="actionMemo" class="form-control form-control-sm"
                          style="width:100%;height:80px;">[[${aemMntrngVO.actionMemo}]]</textarea>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</th:block>



<script>
    $('#actionDe').datepicker({
        format : "yyyy-mm-dd",
        language : "kr"
    });

    $('#aeStrtDe').datepicker({
        format : "yyyy-mm-dd",
        language : "kr"
    });

    $('#aeEndDe').datepicker({
        format : "yyyy-mm-dd",
        language : "kr"
    });

    $('#medcinStopDe').datepicker({
        format : "yyyy-mm-dd",
        language : "kr"
    });

    function saeAtChange() {
        if($("#saeAt2").is(":checked")) {
            $("#saeDeath").prop('disabled',true);
            $("#saeLifeThrt").prop('disabled',true);
            $("#saeHsptlzNeed").prop('disabled',true);
            $("#saeCsmalfnc").prop('disabled',true);
            $("#saeCsdeform").prop('disabled',true);
            $("#saeEtcSittn").prop('disabled',true);
        }
        else {
            $("#saeDeath").prop('disabled',false);
            $("#saeLifeThrt").prop('disabled',false);
            $("#saeHsptlzNeed").prop('disabled',false);
            $("#saeCsmalfnc").prop('disabled',false);
            $("#saeCsdeform").prop('disabled',false);
            $("#saeEtcSittn").prop('disabled',false);
        }
    }
</script>