<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">

<head>
    <title>AE모니터링</title>
</head>

<body id="page-top">

<th:block layout:fragment="content">

<!-- Begin Page Content -->
<div class="container-fluid">

    SERVER URL : <input type="text" id="serverurl" name="serverurl" style="width:240px;"/>
    <span style="color:red">
        <br> ex > http:// 부터 입력 마지막 '/' 는 생략 ( http://localhost:7201 )
        <br> http://localhost:7201
        <br> http://141.164.39.105:7201
        <br> http://sandbox.procarenote.com
    </span>
    <hr/>

    <div style="line-height:30px;margin:10px;padding:10px; border:1px solid #e3e3e3">
        <h4 style="font-size:18px;color:orange"> 전송 정보 </h4>
        <p>PCN_AccessToken : <span id="pcn_accessToken"></span></p>
        <p>AE_AccessToken : <span id="ae_accessToken"></span></p>
        <div>Request Data  :
            <div id="request_data"></div>
        </div>

        <div> Response Data  :
            <div id="response_data"></div>
        </div>
    </div>
    <hr/>

    <h2 style="font-size:18px"> PCN Server API </h2>
    <div style="margin: 4px 0px" >
        <span style="display:inline-block;width:70px"> studyId : </span>
        <input type="text" name="in_studyId"  id="in_studyId" value="0000000025"  />  예)AE통합테스트 연구1
    </div>
    <div style="margin: 4px 0px" >
        <span style="display:inline-block;width:70px"> prtcpntId  :  </span>
        <input type="text" name="in_prtcpntId" id="in_prtcpntId" value="0000000126"  />  예)000001 환자 prtcpnId
    </div>
    <div style="margin: 4px 0px" >
        <span style="display:inline-block;width:70px"> mobile :  </span>
        <input type="text" name="mobile" id="mobile" value="01084520915"  />  예)000001 환자 전화번호
    </div>
    <div style="margin: 4px 0px" >
        <span style="display:inline-block;width:70px"> MessageNo :  </span>
        <input type="text" name="ae_messageNo" id="ae_messageNo" value="1"  />
    </div>

    <div onclick="apiToken();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        1. accessToken 취득 API [POST]
    </div>

    <div onclick="apiAeStudy();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        2. 연구정보 [GET]
    </div>

    <div onclick="apiSubjectCreate();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        3. 연구대상자 등록 [PUT]
    </div>
    <div onclick="apiSubjectRead();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        4. 연구대상자 조회 [GET]
    </div>
    <div onclick="apiSubjectUpdate();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        5. 연구대상자 상태변경 [POST]
    </div>
    <div onclick="apiMessageReadCheck();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        6. 이상반응 메시지 확인 [POST]
    </div>
    <div onclick="apiMessageComment();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        7. 이상반응 메시지 답변 작성 [PUT]
    </div>

    <hr/>
    <h2 style="font-size:18px"> AE System Server API </h2>
    <div onclick="apiAEToken();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        8. [AE System] 토큰취득 API [POST]
    </div>
    <div onclick="apiAEMessage();" style="cursor: pointer;margin: 10px 10px 10px 10px">
        9. [AE System] 연구 대상자 증상정보 등록 [POST]
    </div>
</div>
<!-- /.container-fluid -->



<script>
    var pcn_accessToken="";
    var ae_accessToken = "";

    function   failMessage (type, send, error ){
        $("#request_data").append('<h5 style="font-size:15px">[FAIL]'+type+'</h5>' )
        $("#request_data").append('<p>'+send + '</p>' )
        console.log(  error);
        console.log(error.response)
        if(error.response && error.response.data )$("#request_data").append('<p>'+JSON.stringify(error.response.data) + '</p>' )

    }

    function   apiMessage ( type, send, data ){
        $("#request_data").append('<h5 style="font-size:15px">[SUCCESS]'+type+'</h5>' )
        $("#request_data").append('<p>'+send +'</p>')
        $("#response_data").append('<p>'+data+ '</p>' )
    }

    function clearMessage () {

        $("#request_data").html("")
        $("#response_data").html("")
    }

    function apiToken() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/auth/token",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "secretKey": "911eea266daa4ea2817ab9a3a7a2c238"
            }),
            success: function (data) {
                console.log("success : " + data.code);
                console.log("success : " + data.data.accessToken);
                pcn_accessToken= data.data.accessToken;
                $("#pcn_accessToken").text(pcn_accessToken)
                apiMessage ( "accessToken 취득",
                    JSON.stringify({"secretKey": "911eea266daa4ea2817ab9a3a7a2c238"}) ,
                    JSON.stringify(data.data)
                )
            },
            error: function (error) {

                pcn_accessToken= "";
                $("#pcn_accessToken").text("")
                failMessage ("accessToken 취득",JSON.stringify({"secretKey": "911eea266daa4ea2817ab9a3a7a2c238"}) , error )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiAeStudy() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/study/"+$("#in_studyId").val(),
            "method": "GET",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer "+pcn_accessToken,
                "Content-Type": "application/json"
            },

            success: function (data) {
                console.log("success : " + data);
                apiMessage ( "연구정보",
                    serverURL + "/gateway/bethesdasoft/study/"+$("#in_studyId").val(),
                    JSON.stringify(data.data)
                )
            },
            error: function (  error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
                failMessage ("연구정보",serverURL + "/gateway/bethesdasoft/study/"+$("#in_studyId").val(),  error )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiSubjectCreate() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/"+$("#in_studyId").val()+"/subject",
            "method": "PUT",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer "+pcn_accessToken,
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "subjectKey": $("#in_prtcpntId").val(),
                "subjectStatus": "Ongoing",
                "mappingKeyType": "Mobile",
                "mappingKeyCode": $("#mobile").val()
            }),
            success: function (data) {
                console.log("success : " + data);
                apiMessage ( "3.연구대상자 등록",
                    JSON.stringify({
                        "subjectKey": $("#in_prtcpntId").val(),
                        "subjectStatus": "Ongoing",
                        "mappingKeyType": "Mobile",
                        "mappingKeyCode": $("#mobile").val()
                    }),
                    JSON.stringify(data.data)
                )

            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
                failMessage ("3.연구대상자 등록",
                    JSON.stringify({
                        "subjectKey": $("#in_prtcpntId").val(),
                        "subjectStatus": "Ongoing",
                        "mappingKeyType": "Mobile",
                        "mappingKeyCode": $("#mobile").val()
                    }),  error )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiSubjectRead() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/"+$("#in_studyId").val()+"/subject/"+$("#in_prtcpntId").val(),
            "method": "GET",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer "+ pcn_accessToken,
            },
            success: function (data) {
                console.log("success : " + data);
                apiMessage ( "4. 연구대상자 조회",
                    serverURL + "/gateway/bethesdasoft/"+$("#in_studyId").val()+"/subject/"+$("#in_prtcpntId").val(),
                )
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
                failMessage ("4. 연구대상자 조회",serverURL + "/gateway/bethesdasoft/study/"+$("#in_studyId").val(),  error )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiSubjectUpdate() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/"+$("#in_studyId").val()+"/subject/"+$("#in_prtcpntId").val()+"/subject-status",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer "+pcn_accessToken,
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "subjectStatus": "Ongoing"
            }),
            success: function (data) {
                console.log("success : " + data);
                apiMessage ( "5. 연구대상자 상태변경",
                    JSON.stringify({ "subjectStatus": "Ongoing"}),
                    JSON.stringify(data.data)
                )
            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
                failMessage ( "5. 연구대상자 상태변경",
                    JSON.stringify({ "subjectStatus": "Ongoing"}),
                    error
                )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiMessageReadCheck() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        var ae_messageNo= $("#ae_messageNo").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/aemessage/"+ae_messageNo+"/message-status",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer "+pcn_accessToken,

            },
            success: function (data) {
                console.log("success : " + data.code);
                console.log("success : " + data.data.messageNo);
                console.log("success : " + data.data.messageStatus);
                apiMessage ( "6. 이상반응 메시지 확인",
                    serverURL + "/gateway/bethesdasoft/aemessage/"+ae_messageNo+"/message-status",
                    JSON.stringify(data.data)
                )

            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
                failMessage ( "6. 이상반응 메시지 확인",
                    serverURL + "/gateway/bethesdasoft/aemessage/"+ae_messageNo+"/message-status",
                    error
                )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiMessageComment() {
        clearMessage()
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/gateway/bethesdasoft/aemessage",
            "method": "PUT",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer "+pcn_accessToken,
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "studyCode": $("#in_studyId").val(),
                "subjectKey": $("#in_prtcpntId").val(),
                "mediaType": "Text",
                "body": "해열제 드시고 푹 쉬세요. 증상이 개선되지 않으면 병원에 방문해 주세요."
            }),
            success: function (data) {
                console.log("success : " + data);
                apiMessage ( "7. 이상반응 메시지 답변 작성",
                    JSON.stringify({
                        "studyCode": $("#in_studyId").val(),
                        "subjectKey": $("#in_prtcpntId").val(),
                        "mediaType": "Text",
                        "body": "해열제 드시고 푹 쉬세요. 증상이 개선되지 않으면 병원에 방문해 주세요."
                    }),
                    JSON.stringify(data.data)
                )

            },
            error: function (error) {
                console.log("error : " + error.code);
                console.log("error : " + error.message);
                failMessage ( "7. 이상반응 메시지 답변 작성",
                    JSON.stringify({
                        "studyCode": $("#in_studyId").val(),
                        "subjectKey": $("#in_prtcpntId").val(),
                        "mediaType": "Text",
                        "body": "해열제 드시고 푹 쉬세요. 증상이 개선되지 않으면 병원에 방문해 주세요."
                    }),
                    error
                )
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    var accessToken = "";
    function apiAEToken() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/oauth/token",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Basic YWVtb25pdG9yOlRtYzZTU1JRRXdGQXlTalhaWkV6VG1yL2MvVjBNcDRSMjE3UUJTSkpqQUk9",
                "Content-Type": "application/x-www-form-urlencoded"
            },
            "data": {
                "username": "procuratio",
                "password": "ae2021001",
                "grant_type": "password"
            },
            success: function (data) {
                console.log("success : " + data.access_token);
                accessToken = data.access_token;
            },
            error: function (error) {
                console.log("error : " + error);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }

    function apiAEMessage() {
        var serverURL = $("#serverurl").val();
        $.ajax({
            "url": serverURL + "/aemonitors/userAeData",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer " + accessToken,
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({
                "studyId": "0000000025",
                "prtcpntId": "0000000128",
                "message": {
                    "symptmsRegtypeCode": "140",
                    "type": "Text",
                    "symptmsCn": "LKS 테스트 진행 - 2",
                    "callPartner": "본인",
                    "symptmsRegistDe": "2020-05-25 18:20:03"
                }
            }),
            success: function (data) {
                console.log("success : " + data.studyId);
                console.log("success : " + data.prtcpntId);
                console.log("success : " + data.message.symptmsRegtypeCode);
            },
            error: function (error) {
                console.log("error : " + error);
            },
            complete: function () {
                console.log("complete!!");
            }
        });
    }
</script>

</th:block>
</body>
</html>
